@model Identity_app.DTOs.AccountDTO



<style>

    .sec-signup{
        min-height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .signup-box{

        padding:20px;
        width:400px;
        box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;
        border-radius:20px
    }

</style>

<section class="sec-signup">

    <div class="signup-box">

        <h3>SignUp Form</h3>
        <form method="post">

            <input type="text" asp-for="UserName" placeholder="Enter User Name" class="form-control mt-2" />
            <input type="email"asp-for="Email" placeholder="Enter Email" class="form-control mt-2" />
            <input type="text" asp-for="Age" placeholder="Enter Age" class="form-control mt-2" />
            <input type="text" asp-for="Password" placeholder="Enter Password" class="form-control mt-2" />

            <button type="submit" id="btnSignup" class="btn btn-info w-100 mt-2"> Sign-Up</button>
        </form>



    </div>

</section>